html,body{
    height: 100%;
}
.main{
  
    width: 80%;
    height: 50%;
    background-color: #ff8200;
    background-image: url(../image/header_02.png)50% 50% ,url(../image/huan.jpg);
    background-image: linear-gradient(red, yellow ,blue);
   background-image: radial-gradient(red,yellow,blue);
   background-color: hsl(129, 50% ,50%);
}