html,body{
    height: 100%;

}
body{
    background-color: rgba(66, 66, 66, 0.3);
}
.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    background-image: url(../image/huan.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    transform: rotate(60deg);
}
