*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    
    width: 100%;
}
header{
    height: calc(100% - 80px);
 background-image: url(../image/bgi.png);
 background-size: 100%;
   background-repeat: no-repeat;
    border: 1px solid black;
}
main{
    width: 50%;
    height: 100%;
   margin: 300px auto;
    /*height: 200%;*/
   
    

}
main ul{

    width: 40%;
    
    /*border:  1px solid red;*/
   
    float: left;
    list-style: none;
    
    
}
ul:nth-child(2){
   margin-left: 20px;
}
ul li{
    background-color:#7dca8f;
    margin-top: 20px;
    padding: 30px ;
    text-align: center;

     
}
ul li img{
    height: 50px;
    

}
ul li span{
    display: block;
    margin-top: 10px;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: #ccdcdd;
   font-size: 0;
  padding-top: 20px;
}
div{
    width: 25%;
  
   /*border: 1px solid black;*/
text-align: center;
}
div a img{
    /*width: 30px;*/
  height: 30px;
}
div a span{
font-size: 18px;
display: block;
color: #00aa4e;

}